* {
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
    
  }
  .hor-nav {
    list-style-type: none;
    overflow: hidden;
}
.hor-nav li{
    float: left;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}
.hor nav li a {
  
    text-decoration: none;
    display: block;
    margin: 20px;
    color:blue;
    font-family: 'Courier New', Courier, monospace;
    
}
  .hor-nav li a:hover {
      background-color: aqua;
  }
  .hor-nav li a:visited {
      color: blue;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin-top: 100px;
    background-color: black;
    text-align: center;
     }
  p {
    margin: 20px;
  }
  html,body{
    height: 100%;
    background-color: black;
  }
  


.orion-container {
    display: flex;
    align-items: center; /* This vertically aligns items in the middle */
    gap: 10px; /* Adds some space between the image and text */
}

/* You might also want to style your image and h1 */
.orion-container img {
    height: 50; /* Adjust as needed */
    width: auto;
}

.orion-container h1 {
    
    font-family: 'Courier New', Courier, monospace;
    margin: 10px; margin-top: 20px; text-align: center; color: antiquewhite;
}


  
 