@import "tailwindcss";

@theme {
  --color-primary-fixed-dim: #4edea3;
  --color-on-error: #690005;
  --color-on-secondary-fixed: #0d1c2d;
  --color-tertiary: #ffb3af;
  --color-primary-fixed: #6ffbbe;
  --color-on-secondary-container: #a7b6cc;
  --color-on-primary-fixed-variant: #005236;
  --color-surface-dim: #131313;
  --color-on-tertiary: #650911;
  --color-error-container: #93000a;
  --color-surface-container-highest: #353534;
  --color-surface-bright: #3a3939;
  --color-surface: #131313;
  --color-surface-tint: #4edea3;
  --color-tertiary-fixed-dim: #ffb3af;
  --color-background: #131313;
  --color-on-error-container: #ffdad6;
  --color-surface-container: #201f1f;
  --color-surface-container-low: #1c1b1b;
  --color-primary-container: #10b981;
  --color-outline-variant: #3c4a42;
  --color-inverse-on-surface: #313030;
  --color-inverse-surface: #e5e2e1;
  --color-primary: #4edea3;
  --color-on-primary-container: #00422b;
  --color-secondary-container: #39485a;
  --color-error: #ffb4ab;
  --color-on-primary: #003824;
  --color-on-secondary-fixed-variant: #39485a;
  --color-secondary: #b9c8de;
  --color-secondary-fixed: #d4e4fa;
  --color-on-surface-variant: #bbcabf;
  --color-outline: #86948a;
  --color-on-secondary: #233143;
  --color-tertiary-container: #fc7c78;
  --color-on-tertiary-fixed: #410005;
  --color-secondary-fixed-dim: #b9c8de;
  --color-tertiary-fixed: #ffdad7;
  --color-on-tertiary-container: #711419;
  --color-on-tertiary-fixed-variant: #842225;
  --color-on-surface: #e5e2e1;
  --color-on-background: #e5e2e1;
  --color-surface-variant: #353534;
  --color-surface-container-high: #2a2a2a;
  --color-inverse-primary: #006c49;
  --color-on-primary-fixed: #002113;
  --color-surface-container-lowest: #0e0e0e;

  --font-headline: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    font-family: var(--font-body);
  }
}

@layer utilities {
  .kinetic-gradient {
    background: linear-gradient(135deg, #10b981 0%, #4edea3 100%);
  }
  .glass-panel {
    background: rgba(53, 53, 52, 0.6);
    backdrop-filter: blur(20px);
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .code-container, .code-block {
    font-family: var(--font-label);
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0E0E0E;
}
::-webkit-scrollbar-thumb {
  background: #353534;
  border-radius: 4px;
}
